asgiref==3.8.1
distro==1.7.0
Django==5.2
django-cors-headers==4.7.0
django-formtools==2.5.1
django-guardian==2.4.0
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
inflection==0.5.1
packaging==25.0
phonenumbers==9.0.4
pillow==11.2.1
psutil==7.0.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
pyotp==2.9.0
pypng==0.20220715.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
sqlparse==0.5.3
ssh-import-id==5.11
supervisor==4.2.1
typing_extensions==4.13.2
uritemplate==4.1.1
